@import url("https://fonts.googleapis.com/css?family=Chonburi|Fjord+One");
/* Colors */
/* Fonts */
html, body {
  background-color: #2A2A30;
  margin: 0;
  padding: 0; }

.button {
  font-family: "Chonburi", serif;
  letter-spacing: .1rem;
  transition: all 0.5s ease; }
  .button:hover {
    background-color: #2A2A30;
    color: #E1CD94;
    cursor: pointer; }
  .button:focus {
    outline: 0; }
  .button--large {
    background-color: #E1CD94;
    border: 1px solid #E0E6EB;
    border-radius: 5px;
    color: #2A2A30;
    font-size: 2rem;
    margin: 3rem auto;
    padding: 1rem 1.5rem;
    text-transform: uppercase; }
  .button--small {
    background-color: #2A2A30;
    border: none;
    color: #E0E6EB;
    font-size: 1rem;
    margin: 0 .2rem;
    padding: .5rem 1rem;
    text-transform: lowercase; }

.wrapper {
  margin: 1rem auto; }
  @media (min-width: 580px) {
    .wrapper {
      width: 90%; } }
  @media (min-width: 800px) {
    .wrapper {
      border: 1px dashed #E1CD94;
      border-radius: 5px;
      width: 80%;
      margin: 5rem auto; } }
  @media (min-width: 1200px) {
    .wrapper {
      width: 70%; } }

@media (min-width: 800px) {
  .site-header {
    position: relative;
    top: -65px;
    left: 20px;
    width: 600px; } }

.site-header h1 {
  color: #E0E6EB;
  font-family: "Chonburi", serif;
  font-size: 3rem;
  letter-spacing: .2rem;
  text-align: center;
  background-color: #2A2A30; }

.site-footer {
  text-align: center; }
  @media (min-width: 800px) {
    .site-footer {
      position: relative;
      right: 20px;
      top: 18px;
      text-align: right; } }

.main-content {
  width: 97%;
  margin: 0 auto; }
  @media (min-width: 580px) {
    .main-content {
      width: 95%; } }
  @media (min-width: 800px) {
    .main-content {
      position: relative;
      top: -70px;
      margin: 0 auto -70px;
      width: 80%; } }
  @media (min-width: 1200px) {
    .main-content {
      width: 70%; } }
  @media (min-width: 1600px) {
    .main-content {
      width: 60%; } }

.question {
  color: #E0E6EB;
  font-family: "Fjord One", serif;
  font-size: 1.5rem;
  text-align: center;
  margin: 3rem 0;
  width: 100%; }
  @media (min-width: 800px) {
    .question {
      font-size: 1.2rem; } }
  .question__text {
    padding: 1rem; }
    @media (min-width: 800px) {
      .question__text {
        padding: 2rem; } }
  .question .drink-choices, .question .price-choices, .question .tv-choices {
    display: inline-block; }
    .question .drink-choices div, .question .price-choices div, .question .tv-choices div {
      background-color: #3E4838;
      border: 1px solid #E0E6EB;
      transition: all 0.5s ease; }
      .question .drink-choices div:hover, .question .price-choices div:hover, .question .tv-choices div:hover {
        background-color: #2A2A30; }
      .question .drink-choices div label:hover, .question .price-choices div label:hover, .question .tv-choices div label:hover {
        cursor: pointer; }
  .question .drink-choices {
    height: 300px;
    width: 400px; }
    .question .drink-choices div {
      border-radius: 5px;
      display: inline-block;
      margin: .5rem;
      padding: 1.5rem 0;
      width: 170px; }
      @media (min-width: 800px) {
        .question .drink-choices div {
          width: 145px; } }
    .question .drink-choices .drink-label {
      padding: 1.5rem 2rem;
      text-transform: capitalize; }
  .question .price-choices div {
    float: left;
    padding: 1rem;
    transition: all 0.5s ease; }
    .question .price-choices div:first-of-type {
      border-radius: 5px 0 0 5px; }
    .question .price-choices div:last-of-type {
      border-radius: 0 5px 5px 0; }
    .question .price-choices div .price-label {
      font-size: 1.3rem;
      padding: 1rem 1.3rem; }
  .question .tv-choices div {
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem .5rem; }
    .question .tv-choices div .tv-label {
      padding: 1rem 5rem;
      text-transform: capitalize; }
  .question input[type="radio"] {
    position: absolute;
    left: -9999px; }
  .question .neighborhoods {
    border-radius: 5px;
    font-family: "Fjord One", serif;
    font-size: 1.1rem;
    padding: .2rem;
    margin-left: 1rem; }
    .question .neighborhoods:hover {
      cursor: pointer; }

.results {
  border-top: 1px dashed #E1CD94;
  padding-top: 1.5rem; }
  .results .result {
    background-color: #BFB7AE;
    border-radius: 5px;
    color: #2A2A30;
    font-family: "Fjord One", serif;
    font-size: 1rem;
    text-align: center;
    margin: 2rem 0;
    padding: 1rem; }
    .results .result::after {
      content: "";
      clear: both;
      display: table; }
    @media (min-width: 800px) {
      .results .result {
        font-size: 1.2rem; } }
    .results .result__name {
      font-family: "Chonburi", serif;
      font-size: 1.4rem;
      font-weight: 700;
      letter-spacing: .05rem;
      padding-bottom: 1rem; }
    .results .result__website {
      padding-top: 1rem; }
      .results .result__website a {
        color: #3E4838;
        text-transform: lowercase; }
        .results .result__website a:hover {
          color: #E1CD94; }
    .results .result__column {
      display: inline-block; }
      .results .result__column--left {
        text-align: right;
        padding-right: .2rem; }
      .results .result__column--right {
        text-align: left;
        padding-left: .2rem; }
  .results ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .results ul li {
      margin-bottom: .2rem;
      text-transform: capitalize; }
      .results ul li span {
        font-weight: 700; }

.restart {
  text-align: center; }

.map {
  border-radius: 5px;
  width: 100%;
  height: 400px; }

.infowindow-content span {
  font-weight: 700; }

.about {
  background-color: #2A2A30;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  transition: all .3s ease-out;
  opacity: 0;
  visibility: hidden;
  z-index: 5; }
  .about--is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
            transform: scale(1); }
  .about__content {
    border: 1px dashed #E1CD94;
    color: #E0E6EB;
    font-family: "Fjord One", serif;
    padding: 1rem 3rem 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 300px; }
    .about__content #close {
      font-family: sans-serif;
      font-size: 1.5rem;
      font-weight: 700;
      position: absolute;
      top: -15px;
      right: 20px;
      -webkit-transform: scaleX(1.3);
              transform: scaleX(1.3); }
      .about__content #close:hover {
        cursor: pointer; }
    .about__content h1 {
      color: #E1CD94;
      font-family: "Chonburi", serif;
      text-align: center; }
    .about__content a {
      color: #E0E6EB; }
      .about__content a:hover {
        color: #E1CD94; }
