.about {
    background-color: $dark-gray;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(1.2);
    transition: all .3s ease-out;
    opacity: 0;
    visibility: hidden;
    z-index: 5;

    &--is-visible {
        opacity: 1;
        visibility: visible;
        transform: scale(1); 
    }
    
    &__content {
        border: 1px dashed $yellow;
        color: $light-blue;
        font-family: $main-font-stack;
        padding: 1rem 3rem 2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;

        #close {
            font-family: sans-serif;
            font-size: 1.5rem;
            font-weight: 700;
            position: absolute;
            top: -15px;
            right: 20px;
            transform: scaleX(1.3);

            &:hover {
                cursor: pointer;
            }
        }
        
    h1 {
        color: $yellow;
        font-family: $accent-font-stack;
        text-align: center;
        }

        a {
            color: $light-blue;

            &:hover {
                color: $yellow;
            }
        }
    }
}