.main-content {
   width: 97%;
   margin: 0 auto;

    @include atSmall {
        width: 95%;
    }

    @include atMedium {
        position: relative;
        top: -70px;
        margin: 0 auto -70px;
        width: 80%;
    }

    @include atLarge {
        width: 70%;
    }

    @include atExtraLarge {
        width: 60%;
    }
}