.question {
    color: $light-blue;
    font-family: $main-font-stack;
    font-size: 1.5rem;
    text-align: center;
    margin: 3rem 0;
    width: 100%;

    @include atMedium {
            font-size: 1.2rem;
    }

    &__text {
        padding: 1rem;

        @include atMedium {
            padding: 2rem;
        }
    }

    &__choices {
        display: inline-block;

        p {
            background-color: $green;
            border: 1px solid $light-blue;
            border-radius: 5px;
            margin: 1rem .5rem;
            padding: 1.5rem 0;
            width: 170px;

            @include atMedium {
                width: 145px;
            }

            &:hover {
                background-color: $dark-gray;
            }
        }

       .drink-label {
            padding: 1.5rem 2rem;
            text-transform: capitalize;

            &:hover {
                cursor: pointer;
            }
        }

        &--columns {
            float: left;
            width: 47%;

            &:first-of-type {
                margin-right: .5rem;
            }
        }

        .price {
            background-color: $green;
            border: 1px solid $light-blue;
            float: left;
            padding: 1rem;
            transition: all 0.5s ease;

            &:first-of-type {
                border-radius: 5px 0 0 5px;
            }

            &:last-of-type {
                border-radius: 0 5px 5px 0;
            }

            &:hover {
                background-color: $dark-gray;
            }
            
            label {
                font-size: 1.3rem;
                padding: 1rem 1.3rem;
            }
        }

        .price-label {
            cursor: pointer;
            padding: .5rem;
        }

        .tv {
            background-color: $green;
            border: 1px solid $light-blue;
            border-radius: 5px;
            padding: 1rem;
            margin: 1rem .5rem;
            transition: all 0.5s ease;

            &:hover {
                background-color: $dark-gray;
                cursor: pointer;
            }
        }

        .tv-label {
            padding: 1rem 5rem;
            text-transform: capitalize;

            &:hover {
                cursor: pointer;
            }
        }

        input[type="radio"] {
           position: absolute;
           left: -9999px; 
        }
    }

    select {
        border-radius: 5px;
        font-family: $main-font-stack;
        font-size: 1.1rem;
        padding: .2rem;
        margin-left: 1rem;

        &:hover {
            cursor: pointer;
        }
    }
}
