.question {
    color: $light-blue;
    font-family: $main-font-stack;
    font-size: 1.5rem;
    text-align: center;
    margin: 3rem 0;
    width: 100%;

    @include atMedium {
            font-size: 1.2rem;
    }

    &__text {
        padding: 1rem;

        @include atMedium {
            padding: 2rem;
        }
    }

    .drink-choices, .price-choices, .tv-choices {
        display: inline-block;

        div {
            background-color: $green;
            border: 1px solid $light-blue;
            transition: all 0.5s ease;

            &:hover {
                background-color: $dark-gray;
            }

            label {
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .drink-choices {
        height: 300px;
        width: 400px;

        div {
            border-radius: 5px;
            display: inline-block;
            margin: .5rem;
            padding: 1.5rem 0;
            width: 170px;

            @include atMedium {
                width: 145px;
            }
        }

       .drink-label {
            padding: 1.5rem 2rem;
            text-transform: capitalize;
        }  
    }

    .price-choices {
        div {
            float: left;
            padding: 1rem;
            transition: all 0.5s ease;

            &:first-of-type {
                border-radius: 5px 0 0 5px;
            }

            &:last-of-type {
                border-radius: 0 5px 5px 0;
            }

            .price-label {
                font-size: 1.3rem;
                padding: 1rem 1.3rem;
            }
        }
    }

    .tv-choices {
        div {
            border-radius: 5px;
            padding: 1rem;
            margin: 1rem .5rem;

            .tv-label {
            padding: 1rem 5rem;
            text-transform: capitalize;
            }
        }
    }

        input[type="radio"] {
           position: absolute;
           left: -9999px; 
        }

    .neighborhoods {
        border-radius: 5px;
        font-family: $main-font-stack;
        font-size: 1.1rem;
        padding: .2rem;
        margin-left: 1rem;

        &:hover {
            cursor: pointer;
        }
    }
}
