/* Colors */
$light-gray: #BFB7AE;
$medium-gray: #7D7A7B;
$dark-gray: #2A2A30;
$yellow: #E1CD94;
$light-blue: #E0E6EB;
$green: #3E4838;

/* Fonts */
$main-font-stack: 'Fjord One', serif;
$accent-font-stack: 'Chonburi', serif;