<p class="question__text">What are you looking to drink?</p>
<div class="drink-choices">
    {{#each options}}
    <div>
        <input class="drinks" type="radio" id="radio-{{this}}" value="{{this}}" />
        <label class="drink-label" for="radio-{{this}}">{{this}}</label>
    </div>
    {{/each}}
</div>
