<p class="question__text">What's the max you'd spend per drink?</p>
    <div class="question__choices">
      <div class="price">
        <input name="price" type="radio" id="radio-low-price" value="{{low}}" />
        <label class="price-label" for="radio-low-price">$</label>
      </div>
      <div class="price">
        <input name="price" type="radio" id="radio-mid-price" value="{{mid}}" />
        <label class="price-label" for="radio-mid-price">$$</label>
      </div>
      <div class="price">
        <input name="price" type="radio" id="radio-high-price" value="{{high}}" />
        <label class="price-label" for="radio-high-price">$$$</label>
      </div>
      </div>
    </div>