<p class="question__text">What's the max you'd spend per drink?</p>
    <div class="price-choices">
      {{#each options}}
        <div>
          <input class="price" name="priceRange" type="radio" id="radio-{{this}}-price" value="{{this}}" />
          <label class="price-label" for="radio-{{this}}-price">{{this}}</label>
        </div>
      {{/each}}
    </div>