<p class="question__text">Should there be any TVs in the bar?</p>
<div class="tv-choices">
    {{#each options}}
    <div>
        <input class="tvs" name="tvOptions" type="radio" id="radio-tv-{{this}}" value="{{this}}" />
        <label class="tv-label" for="radio-tv-{{this}}">{{this}}</label>
    </div>
    {{/each}}
</div>
